{% extends 'index.html' %}
{% load static %}

{% block content3 %}
<!-- Your dynamic content goes here -->
<a class="nav-link " href="{% url 'completedtask' %}">
  <i class="bi bi-check-circle"></i>
  <span>Completed Tasks</span>
</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h6>List of Completed Tasks </h6>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in page %}
                    <tr>
                        <td>{{ forloop.counter|add:page.start_index|add:"-1" }}</td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.formatted_date }}</td> <!-- Assuming you've defined the formatted_date method in your Task model -->
                        <td>
                            <a href="{% url 'taskdetails' task.no %}" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Details</a>
                          
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?{{ page.previous_page_number }}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% endif %}
        
                  {% for num in page.paginator.page_range %}
        
                  <li class="page-item {% if page.number == num %}activate{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    
                {% endfor %}
        
                {% if page.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page=={{ page.next_page_number }}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                {% endif %}
                </ul>
              </nav>
        </div>
    </div>
</div>
{% endblock %}
