{% extends 'index.html' %}
{% load static %}

{% block content4 %}
      <!-- Your dynamic content goes here -->
      <a class="nav-link collapsed" href="{% url 'home' %}">
        <i class="bi bi-house"></i>
        <span>Home</span>
      </a>
      {% endblock %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h3>Task {{ task.no }} :  {{ task.title }} </h3>
    </div>
    <div class='card-body'>
   
        <p>{{ task.description }}</p>
    
    <div class='w-100'>
    
    <form method="post" action="{% url 'confirmdelete' task.pk %}">
        {% csrf_token %}
        <p>Are you sure to delete Task ? </p>
        <a href="{% url 'taskdetails' task.no  %}" class="btn btn-secondary">Cancel</a>
        
        <button type="submit" class="btn btn-outline-danger">Delete Task</button>
        
      </form>
</div>
</div>

{% endblock %}