{% extends 'index.html' %}
{% load static %}


{% block content %}

<div class="card">
    <div class="card-header">
        <h3>Task on {{ task.formatted_date }} :  {{ task.title }} </h3>
    </div>
    <div class='card-body'>
   
        <p>{{ task.description }}</p>
    
    <div class='w-100'>
    
    <form method="post" action="{% url 'completetask' task.pk %}">
        {% csrf_token %}
       
        {% if not task.is_completed %}
        <a href="{% url 'listtask' %}" class="btn btn-secondary">Go back</a>
        <button type="submit" class="btn btn-success">Mark as Completed</button>
        {% endif %}
        {% if  task.is_completed %}
        <a href="{% url 'completedtask' %}" class="btn btn-secondary">Go back</a>
        <button type="submit" class="btn btn-outline-warning">Mark as Incomplete</button>
        <a href="{% url 'deletetask' task.no  %}" class="btn btn-danger">Delete Task</a>
        {% endif %}
      </form>
</div>
</div>

{% endblock %}