{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Profile</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h4>User Information</h4>
                <ul>
                    <li><strong>Name:</strong> {{ user.username }}</li>
                    <li><strong>Email:</strong> {{ user.email }}</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Profile Picture</h4>
                {% if user_profile.image %}
                    <img src="{{ user_profile.image.url }}" alt="Profile Picture" class="img-fluid">
                {% else %}
                    <p>No profile picture available.</p>
                {% endif %}
            </div>
            <a href="{% url 'editprofile'  %}" class="btn btn-secondary">Edit profile</a>
        </div>  
    </div>
</div>
{% endblock %}
